<div class="row mb-2">
  <div class="col-md-6"><strong>Down Speed</strong></div>
  <div class="col-md-6">{{@eth.CurrentBitRate}}</div>
</div>
<div class="row mb-2">
  <div class="col-md-6"><strong>Up Speed</strong></div>
  <div class="col-md-6">{{@eth.CurrentBitRate}}</div>
</div>