<div class="row mb-2">
    <div class="col-md-6"><strong>Host Name</strong></div>
    <div class="col-md-6">{{@host.HostName}}</div>
</div>
<div class="row mb-2">
    <div class="col-md-6"><strong>IP Address</strong></div>
    <div class="col-md-6">{{@host.IPAddress}}</div>
</div>
<div class="row mb-2">
    <div class="col-md-6"><strong>Physical Address</strong></div>
    <div class="col-md-6">{{@host.PhysAddress}}</div>
</div>
<hr />