{{!-- {{yield}} --}}
<div class="row">
  <div class="col-md-6">
    <div class="row mb-2" style="padding-left: 10px;" tabindex="0" aria-label="{{@left}}">
      {{@left}}
    </div>
  </div>
  <div class="col-md-6" style="display: flex; justify-content: flex-end;">
    <div class="row mb-2" style="padding-right: 10px;">
      {{yield}}
    </div>
  </div>
</div>
