<div class="card mb-3">
    <div class="card-header">GPON Power</div>
    <div class="card-body">
        <div class="row">
            <div class="row mb-2">
                <div class="col-md-5"><strong>Received Power</strong></div>
                <div class="col-md-7"></div>
            </div>
            <div class="row mb-2">
                <div class="col-md-5"><strong>Transmit Power</strong></div>
                <div class="col-md-7"></div>
            </div>
        </div>
    </div>
</div>