{{!-- {{yield}} --}}
<div class="main-submenu">
    <ul style="list-style-type: none;">
        <li>Device Information</li>
        <li>WAN Status</li>
        <li>LAN Status</li>
        <li>GPON Status</li>
        <li>Optical Status</li>
        <li>Voice Status</li>
        <li>WiFi Status</li>
    </ul>
</div>