{{page-title "Application"}}
{{outlet}}
<div aria-live="polite" style="position: absolute; left: -9999px;">{{this.globalEAAPolite}}</div>
<div aria-live="assertive" style="position: absolute; left: -9999px;">{{this.globalEAAAssertive}}</div>