{{page-title "Session end"}}
<form {{on "submit" this.gotologin}} class="container-sm">
  <div class="row">
    <div class="col">&nbsp;</div>
    <div class="col-md-4 logo"><span class="label">prpl</span></div>
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
    <div class="col-md-3 d-grid gap-2">  <h2 class="fw-bold">Session timeout</h2></div>
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
    <div class="col-md-3 d-grid gap-2">You will be redirected to Login page. </div>
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
    <div class="col-md-3 d-grid gap-2">
      <button type="submit" class="btn btn-primary">OK</button>
    </div>
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
    <div class="col-md-4 gy-3">
      {{#if this.errorMessage}}
        <p class="alert alert-danger p-2 text-center">{{this.errorMessage}}</p>
      {{/if}}
    </div>
    <div class="col">&nbsp;</div>
  </div>
</form>
