{{page-title 'Setup Wizard'}}
{{!-- <p>State: {{this.wizard.state}}</p> --}}
<div class="text-center pt-4">
    <button type="button" class="border-0 bg-transparent p-0" {{on 'click' this.abortWizard}}>
        <div class="col-md-4 logo"><span class="label">prpl</span></div>
    </button>
</div>

{{outlet}}

{{!--  --}}